# Emacs

*~
\#*\#
.\#*

# zsh

/.zshenv  # only top level .zshenv (symlink)
*zsh_history
.personal_aliases
.zcompdump*

# Ignore README - handled by git hooks -- see .yadm/README.md
README.md
.yadm/README.md

# Top level files to ignore
/.cache
/.mozilla
/.minecraft
/.yadm/repo.git
/.thunderbird
/.config/discord
/.config/pulse
/.config/hub
/.config/mono.addins
/.config/chromium
/.config/keepassxc/keepassxc.ini
/.bash_history
/.xsession-errors*
/.pki/nssdb/
/.wget-hsts
/.oh-my-zsh
/.ssh
/.m2
/.node-gyp
/.java
/.local/lib/python*
/.local/bin
/.local/include
/.local/share
/.runelite
/.python_history
/.npm
/.npm-packages
/code
/Documents
/Desktop
/Downloads
/Pictures
/Movies
/Music
/jagexcache
