# Emacs

*~
\#*\#
.\#*

# cache
__pycache__

# zsh

/.zshenv
personal_aliases
zsh_history
.zcompdump*
.zshrc.zwc

# Ignore README - handled by git hooks -- see .yadm/README.md
/README.md
/.config/yadm/README.md

# Top level files to ignore
/.config/jrnl/jrnl.yaml
/.config/mimeapps.list
/.config/autostart
/.config/cef_user_data
/.config/neofetch
/.config/discord
/.config/pulse
/.config/hub
/.config/mono.addins
/.config/chromium
/.config/keepassxc/keepassxc.ini
/.config/dconf
/.config/Atom/
/.config/google-chrome
/.config/Slack
/.config/Code - OSS
/.config/Electron
/.config/nvim/.netrwhist
/.config/Thunar/
/.config/Pinta/
/.config/QtProject.conf
/.config/xfce4/xfconf
/.config/gtk-*
/.config/configstore
/.config/menus/
/.config/okularrc
/.config/yadm/repo.git
/.config/joplin/*
!/.config/joplin/keymap.json

/.atom/compile-cache
/.atom/blob-store
/.atom/storage
/.atom/nohup.out
/.atom/.apm/.apmrc
/.atom/config.cson
/.atom/github.cson
/.atom/*socket*

/.cookiecutter_replay/*
/.gem/*
/.bundle/*
/.todo/*
!/.todo/config
/.scala_history
/.irb_history
/.scalac/
/.swipl-dir*
/.pythonanywhere*
/.scramble_history.txt
/.mix
/.hex
/.pyenv
/.antigen
/.pki/nssdb
/.wget-hsts
/.vim/.netrwhist
/.gnome/apps
/.gnome/apps
/.oh-my-zsh
/.credentials
/.cache
/.keras
/.mozilla
/.minecraft
/.thunderbird
/.PyCharm*
/.aspell*
/.ssh
/.m2
/.Xauthority
/.xsession-errors*
/.gitconfig
/.lesshst
/.ghc/ghci_history
/.fehbg
/.plus1_blacklist.txt
/.viminfo
/.pulse-cookie
/.node-gyp
/.electron-gyp
/.java
/.runelite
/.vscode-oss
/.cargo
/.ssr
/.steam*
/.npm
/.npm-packages
/.config/composer/.htaccess
/.mal-id-cache

/.local/lib/python*
/.local/lib/pkgconfig/*
/.local/bin
/.local/include
/.local/share
/.local/etc/bash_completion.d
/.local/etc/fish/completions
/.local/shortcuts/*

/code
/Documents
/Desktop
/Downloads
/Pictures
/Movies
/Music
