#!/bin/sh

# This runs at the beginning of the xsession (linux), before the window manager has loaded

# export ONLINUX variable, the presence of this variable means we're running
# in an xsession, so use linux specific applications. If this is unset,
# that means we're on Mac. ~/.profile is sourced in zshrc if ONLINUX is unset
export ONLINUX=1

# source common_paths for shared (mac/linux) path modifications
source "${HOME}/.common_paths"
# source profile for common environment variables
source "${HOME}/.profile"

